/* content layout */
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"h1 h1 h2"
		"a a a"
		"b c d";
	margin: 10px 10px;
}

/* utility classes */
.text-center {
	text-align: center;
}

.image-center {
	display: block;
	margin: auto;
}

/* logo and site title */
#sitetitle {
	vertical-align: top;
	display: inline-block;
}

#logoimage {
	vertical-align: top;
	display: inline-block;
}


/* Navbar CSS */

/* NAVBAR MOBILE */
@media screen and (max-width: 600px) {
	body {
		margin: 0;
		padding: 0;
	}
	main {
		margin: 0 0;
	}
	
	.navbar {
		width: 100%;
	}
	
	.navbar > ul {
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 100%;
		background-color: #e95353;

	}
	.navbar > ul > li {
		display: inline-block;
		margin: 0 10px;
		text-align: center;
	}
	.navbar > li:last-child {
		border-bottom: none;
	}
	
	.navbar > ul > li > a {
		display: block;
		color: #000;
		padding: 8px 16px;
		text-decoration: none;
	}


	/* Change the link color on hover */
	li a:hover {
		color: rgb(49, 49, 49);
	}

	.active > * {
		color: #FF7504;
		font-weight: bold;
		text-decoration: underline;
	}
}
	
/* navbar desktop and tablet */
@media screen and (min-width: 601px) {

	
	.navbar > ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.navbar > ul > li {
		display: inline;
		margin: 0 10px;
	}
	
	.navbar > ul > li > a {
		text-decoration: none;
		color: black;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.active>* {
		color: #FF7504 !important;
		font-weight: bold;
		text-decoration: underline;
	}

}




a {
	text-decoration: none;
	color: #FF7504;
}

/* column and container grid parameters */

.header-left {
	grid-area: h1;
	display: block;

}

.header-right {
	grid-area: h2;
	display: block;
	margin: auto;
}

.column1 {
	grid-area: a;
	margin-top: 20px;
	margin-bottom: 20px;
}

.column2-1 {
	grid-area: b;
}

.column2-2 {
	grid-area: c;
}

.column2-3 {
	grid-area: d;
}

/* font family */

* {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* formatting for transcription button */

button#transcribebutton {
	color: #0f0f0f;
	background-color: #70f6be;
	font-size: 39px;
	height: 100px;
	font-style: bold;
	border: 1px solid #6BE9B4;
	border-radius: 25px;
	padding: 15px 50px;
	cursor: pointer;
	box-shadow: 2px 0px 10px #bebebe80;
	
}
button#transcribebutton > * {
	font-size: 49px;
	vertical-align: middle;
}

button#transcribebutton:hover {
	color: #646464;
	background-color: #76ffc6;

}

/* transcription text input box */

#transcriptiontextbox {
	display: block;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: large;
	width: 600px;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	border: 0px solid;
	border-radius: 10px;
	padding: 15px 50px;
	box-shadow: 2px 0px 10px #bebebe;
}

#searchbar {
	display: block;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: large;
	border-color: #e95353;
	border-width: 10px;
	width: 75%;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	border: 0px solid;
	border-radius: 50px;
	padding: 15px 50px;
	box-shadow: 2px 0px 10px #bebebe;
}

/* saved / historical transcriptions */

.savedtranscription {
	width: auto;
	background-color: #d8d8d837;
	border-radius: 10px;
	margin-bottom: 20px;
}


input {
	font-size: large;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	border: 0px solid;
	border-radius: 10px;
	padding: 15px 50px;
	margin-bottom: 10px;
	box-shadow: 2px 0px 10px #bebebe;
}

label {
	font-size: large;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	color:#646464;
	margin-bottom: 10px;
	margin-right: 10px;
}