main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"a a"
		"x x"
		"b c"
		"d e";
	margin: 10px 10px;
}

.text-center {
	text-align: center;
}
.image-center {
	display: block;
	margin: auto;
}

.header {
	grid-area: a;
	display: block;
	margin: auto;
}

/* logo and site title */
#sitetitle {
	vertical-align: middle;
	display: inline-block;
}
#github {
	width: 3em;
	height: auto;
	display: inline;
	position: relative;
	vertical-align: middle;
	color:cornflowerblue;

}

/* Navbar CSS */

/* NAVBAR MOBILE */
@media screen and (max-width: 600px) {
	body {
		margin: 0;
		padding: 0;
	}
	main {
		margin: 0 0;
	}
	
	.navbar {
		grid-area: x;
		width: 100%;
	}
	
	.navbar > ul {
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 100%;
		background-color: #e95353;
		border: 1px solid #555;
	}
	.navbar > ul > li {
		display: inline-block;
		margin: 0 10px;
		text-align: center;
	}
	.navbar > li:last-child {
		border-bottom: none;
	}
	
	.navbar > ul > li > a {
		display: block;
		color: #000;
		padding: 8px 16px;
		text-decoration: none;
	}


	/* Change the link color on hover */
	li a:hover {
		background-color: #555;
		color: white;
	}

	.active > * {
		color: white;
		font-weight: bold;
		text-decoration: underline;
	}
}
	
/* navbar desktop and tablet */
@media screen and (min-width: 601px) {
	.navbar {
		grid-area: x;
	}
	
	.navbar > ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.navbar > ul > li {
		display: inline;
		margin: 0 10px;
	}
	
	.navbar > ul > li > a {
		text-decoration: none;
		color: #fff;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}


}



a {
	text-decoration: none;
	color:cornflowerblue;
}

.column1 {
	grid-area: b;
}

.column2 {
	grid-area: c;
}

td {
	padding: 0 50px;
}


* {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}
